<%= form_with(model: product) do |form| %>
  <div>
    <%= form.label :name, "Nom du produit :",style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, "Description du produit :", style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :price, "Prix du produit :", style: "display: block" %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :stock, "Produit en stock :" ,style: "display: block" %>
    <%= form.number_field :stock %>
  </div>
  <div>
    <%= form.submit "Créer le produit" %>
  </div>
<% end %>